<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="description"
      content="This app tries to parse a set of logfile samples with a given dissect
    tokenization pattern and return the matched fields for each log line. Compatible with
    Elasticsearch, Filebeat and Logstash."
    />
    <meta
      name="keywords"
      content="tokenizer, pattern, filebeat, logstash, elasticsearch, tester, matcher"
    />
    <title>
      Dissect Pattern Tester and Matcher for Filebeat, Elasticsearch and
      Logstash
    </title>
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/static/images/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/static/images/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/static/images/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/static/images/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/static/images/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/static/images/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/static/images/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/static/images/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/static/images/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/static/images/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/static/images/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/images/favicon-16x16.png"
    />
    <link rel="manifest" href="/static/manifest.json" />
    <meta name="theme-color" content="#ffffff" />
    <link href="/static/dist/tailwind.css" rel="stylesheet" />
    <script src="/static/js/main.js"></script>
  </head>
  <body class="flex flex-col min-h-screen p-4 sm:p-0">
    <div class="container mx-auto mt-8">
      <h1 class="text-2xl mb-4 font-medium">
        Test
        <a
          href="https://www.elastic.co/guide/en/beats/filebeat/master/dissect.html"
          target="_blank"
          class="text-blue-600 visited:text-purple-600"
          >Tokenizer Patterns</a
        >
        for the Dissect filter
      </h1>

      <div class="flex">
        <svg class="mr-2 w-24 sm:w-10" viewBox="0 0 512 512">
          <circle cx="256" cy="256" r="246" fill="#ff8c8c" />
          <circle cx="256" cy="256" r="192" fill="#fff" />
          <g fill="#7d9bff">
            <path
              d="M291
          336h-15V236c0-11-9-20-20-20h-28a20 20 0 100 40h8v80h-15a20 20 0 100 40h70a20 20 0 100-40z"
            />
            <circle cx="256" cy="156.1" r="20" />
          </g>
          <path
            d="M256 512A254 254 0 010 256 254 254 0 01256 0a254 254 0
          01256 256 254 254 0 01-256 256zm0-492a236 236 0 101 473 236 236 0 00-1-473z"
          />
          <path
            d="M256 458c-37
          0-74-10-106-30a10 10 0 1110-17 182 182 0 10-60-61 10 10 0 01-17 10 203 203 0 0130-247 202 202 0
          11143 345z"
          />
          <path
            d="M120 402a10 10 0 117-17 10 10 0 01-7 17zM291 386h-70a30 30 0 010-60h5v-60a30
          30 0 012-60h28c17 0 30 14 30 30v90h5a30 30 0 010 60zm-70-40a10 10 0 000 20h70a10 10 0 000-20h-15c-6
          0-10-5-10-10V236c0-5-4-10-10-10h-28a10 10 0 000 20h8c6 0 10 5 10 10v80c0 5-4 10-10 10h-15zM256
          186a30 30 0 110-60 30 30 0 010 60zm0-40a10 10 0 100 20 10 10 0 000-20z"
          />
        </svg>
        <p class="md:w-1/2 sm:w-full text-gray-800">
          This app tries to parse a set of logfile samples with a given dissect
          tokenization pattern and return the matched fields for each log line.
        </p>
        <p class="text-gray-800">
          Syntax compatible with
          <a
            class="text-blue-600"
            href="https://www.elastic.co/guide/en/beats/filebeat/master/dissect.html"
            >Filebeat</a
          >,
          <a
            class="text-blue-600"
            href="https://www.elastic.co/guide/en/elasticsearch/reference/master/dissect-processor.html"
            >Elasticsearch</a
          >
          and
          <a
            class="text-blue-600"
            href="https://www.elastic.co/guide/en/logstash/current/plugins-filters-dissect.html"
            >Logstash</a
          >
          processors/filters.
        </p>
      </div>
      <div class="flex items-center mt-4">
        <div class="flex items-center justify-center">
          <svg class="w-8 h-8" viewBox="0 0 64 64"><defs/><g fill="none" fill-rule="evenodd"><path d="M0 0h64v64H0z"/><path fill="#343741" d="M45 28c-2-2-5-3-9-3H11v14h19c7 0 13-5 15-11"/><path fill="#00BFB3" d="M49 31c-3 8-11 13-19 13H11v15h25a17 17 0 0013-28"/><path fill="#07C" d="M45 28A17 17 0 0030 5H11v20h25c4 0 7 1 9 3"/></g></svg>
          v<span class="text-xl font-medium">{{ .Version }}</span>
          <div class="ml-2 p-2 text-gray-700">
            This instance is using a backend running v{{ .Version }} of Elastic Beats.
          </div>
        </div>
      </div>
    </div>

    <div class="container mx-auto mt-8">
      <form class="w-full" onsubmit="testSamples(); return false;">
        <div class="md:flex md:items-center mb-6 flex-col">
          <label for="pattern" class="w-full text-lg pb-4">Pattern</label>
          <input
            class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500 font-mono h-16"
            id="pattern"
            type="text"
            value="%{key1} %{key2}"
            placeholder="Pattern to be tested against the log samples"
          />
        </div>
        <div class="md:flex md:items-center mb-8">
          <div class="md:w-1/2s mr-2 sm:w-full sm:mt-4">
            <label for="pattern" class="w-full text-lg">
              Log Samples
            </label>
            <div class="w-full text-sm text-gray-500 pb-4">
              <svg
                class="fill-current text-gray-400 inline-block h-4 w-4 mr-1"
                viewBox="0 0 20 20"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <g
                  id="Page-1"
                  stroke="none"
                  stroke-width="1"
                  fill="currentColor"
                  fill-rule="evenodd"
                >
                  <g id="icon-shape">
                    <path
                      d="M2.92893219,17.0710678 C6.83417511,20.9763107 13.1658249,20.9763107 17.0710678,17.0710678 C20.9763107,13.1658249 20.9763107,6.83417511 17.0710678,2.92893219 C13.1658249,-0.976310729 6.83417511,-0.976310729 2.92893219,2.92893219 C-0.976310729,6.83417511 -0.976310729,13.1658249 2.92893219,17.0710678 L2.92893219,17.0710678 Z M15.6568542,15.6568542 C18.7810486,12.5326599 18.7810486,7.46734008 15.6568542,4.34314575 C12.5326599,1.21895142 7.46734008,1.21895142 4.34314575,4.34314575 C1.21895142,7.46734008 1.21895142,12.5326599 4.34314575,15.6568542 C7.46734008,18.7810486 12.5326599,18.7810486 15.6568542,15.6568542 Z M9,11 L9,10.5 L9,9 L11,9 L11,15 L9,15 L9,11 Z M9,5 L11,5 L11,7 L9,7 L9,5 Z"
                      id="Combined-Shape"
                    ></path>
                  </g>
                </g>
              </svg>
              One sample per line
            </div>
            <textarea
              class="bg-gray-200 appearance-none border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500 font-mono w-full"
              id="samples"
              rows="20"
            >
a b</textarea
            >
          </div>
          <div class="md:w-1/2s ml-2 sm:w-full sm:mt-4">
            <label for="results" class="w-full text-lg">
              Results
            </label>
            <div class="w-full text-sm text-gray-500 pb-4">
              <svg
                class="fill-current text-gray-400 inline-block h-4 w-4 mr-1"
                viewBox="0 0 20 20"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <g
                  id="Page-1"
                  stroke="none"
                  stroke-width="1"
                  fill="currentColor"
                  fill-rule="evenodd"
                >
                  <g id="icon-shape">
                    <path
                      d="M2.92893219,17.0710678 C6.83417511,20.9763107 13.1658249,20.9763107 17.0710678,17.0710678 C20.9763107,13.1658249 20.9763107,6.83417511 17.0710678,2.92893219 C13.1658249,-0.976310729 6.83417511,-0.976310729 2.92893219,2.92893219 C-0.976310729,6.83417511 -0.976310729,13.1658249 2.92893219,17.0710678 L2.92893219,17.0710678 Z M15.6568542,15.6568542 C18.7810486,12.5326599 18.7810486,7.46734008 15.6568542,4.34314575 C12.5326599,1.21895142 7.46734008,1.21895142 4.34314575,4.34314575 C1.21895142,7.46734008 1.21895142,12.5326599 4.34314575,15.6568542 C7.46734008,18.7810486 12.5326599,18.7810486 15.6568542,15.6568542 Z M9,11 L9,10.5 L9,9 L11,9 L11,15 L9,15 L9,11 Z M9,5 L11,5 L11,7 L9,7 L9,5 Z"
                      id="Combined-Shape"
                    ></path>
                  </g>
                </g>
              </svg>
              One result per block
            </div>
            <textarea
              class="bg-gray-200 appearance-none border-2 border-gray-200 rounded py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500 font-mono w-full"
              id="results"
              rows="20"
              placeholder="Output of the dissect tokenizer"
              readonly
            ></textarea>
          </div>
        </div>
        <div class="md:flex">
          <div class="md:w-1/2 sm:w-full flex justify-end">
            <button
              class="w-full md:w-1/2 md:mr-2 shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded flex items-center h-12 justify-center"
              type="button"
              onclick="testSamples()"
            >
              <span class="mr-4">SUBMIT</span>
              <svg
                class="text-purple-100 w-4 h-4"
                viewBox="0 0 20 20"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <g
                  id="Page-1"
                  stroke="none"
                  stroke-width="1"
                  fill="currentColor"
                  fill-rule="evenodd"
                >
                  <g id="icon-shape">
                    <path
                      d="M0,0 L20,10 L0,20 L0,0 Z M0,8 L10,10 L0,12 L0,8 Z"
                      id="Combined-Shape"
                    ></path>
                  </g>
                </g>
              </svg>
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="container mx-auto mt-8 flex-grow">
      <div class="flex items-center">
        <svg class="w-10 h-10 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><defs/><path
        fill="#ffa000" d="M397 447L266 116c-1-4-5-6-9-7L55 85a11 11 0 00-12 10L0 436a11 11 0 0010
        12l373 43h1c6 0 10-4 11-10l3-30-1-4z"/><path fill="#ffe082" d="M469 95c0-6-6-10-11-10h-1l-91
        11-271 32c-6 1-10 6-10 12l32 341c1 6 6 10 11 10h1l374-43a11 11 0 009-12L469 95z"/><path
        fill="#455a64" d="M309 171a11 11 0 01-7-19l53-53a11 11 0 1115 15l-53 54c-2 2-5 3-8
        3z"/><circle cx="394.8" cy="74.7" r="53.3" fill="#f44336"/></svg>
        <h2 class="strong text-xl font-medium">New in beats v7.9</h2>
      </div>
      <p class="mt-4">
        beats v7.9 introduced a new feature that allows converting a field from a <code
        class="bg-gray-200 rounded p-1">string</code> (only data type supported until now) into one
        of <code class="bg-gray-200 rounded p-1">integer</code>,
        <code class="bg-gray-200 rounded p-1">long</code>,
        <code class="bg-gray-200 rounded p-1">float</code>, <code class="bg-gray-200 rounded
        p-1">double</code>, <code class="bg-gray-200 rounded p-1">boolean</code>, or <code
        class="bg-gray-200 rounded p-1">ip</code>. This type conversion step was usually delegated to
        a later step in your processing. To take advantage of this new feature you need to provide a
        valid type after the key using <code class="bg-gray-200 rounded p-1">|</code> as a separator. For example:
      </p>
<pre class="mt-4 bg-gray-200 rounded p-4">
  processors:
  - dissect:
      tokenizer: "%{key1} %{key2|integer}"
      field: "message"
      target_prefix: "dissect"
</pre>
    <p class="mt-4">
      In this case <code class="bg-gray-200 rounded p-1">key2</code> will be casted to an integer
      value. More information can be found in the <a class="text-blue-600 visited:text-purple-600"
      href="https://www.elastic.co/guide/en/beats/filebeat/7.9/dissect.html">official
      documentation</a>.
    </p>
    </div>

    <footer class="bg-gray-800 p-8 text-gray-200 mt-8 flex flex-col md:flex-row justify-between items-center">
      <div class="text-center md:text-left mb-4 md:mb-0">
        Built with 💖 by
        <a href="https://jorgelbg.me" class="text-purple-400" target="_blank"
          >Jorge Luis Betancourt</a
        >
      </div>
      <a class="flex items-center text-purple-200 hover:text-purple-500" href="https://github.com/jorgelbg/dissect-tester">
        <p class="font-mono mr-4">Code</p>
        <svg viewBox="0 0 16 16" fill="currentcolor" class="h-8 w-8"><path fill-rule="evenodd" d="M8 0C3.58.0.0 3.58.0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38.0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95.0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12.0.0.67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15.0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48.0 1.07-.01 1.93-.01 2.2.0.21.15.46.55.38A8.013 8.013.0 0016 8c0-4.42-3.58-8-8-8z"></path></svg>
      </a>
    </footer>
  </body>
</html>
