<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tailwind</title>
    <link href="/static/dist/tailwind.css" rel="stylesheet" />
  </head>
  <body class="h-full">
    <div class="container mx-auto mt-16">
      <form class="w-full">
        <div class="md:flex md:items-center mb-6 flex-col">
          <label for="pattern" class="w-full text-lg pb-4">Pattern</label>
          <textarea
            class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4
          text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500 font-mono"
            id="pattern"
            type="text"
            value="Jane Doe"
            rows="10"
          >
%{key1} %{key2}
          </textarea>
        </div>
        <div class="md:flex md:items-center mb-8">
          <div class="w-1/2 mr-2">
            <label for="pattern" class="w-full text-lg">
              Log Samples
            </label>
            <div class="w-full text-sm text-gray-500 pb-4">
              <svg
                class="fill-current text-gray-400 inline-block h-4 w-4"
                viewBox="0 0 20 20"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <g
                  id="Page-1"
                  stroke="none"
                  stroke-width="1"
                  fill="currentColor"
                  fill-rule="evenodd"
                >
                  <g id="icon-shape">
                    <path
                      d="M2.92893219,17.0710678 C6.83417511,20.9763107 13.1658249,20.9763107 17.0710678,17.0710678 C20.9763107,13.1658249 20.9763107,6.83417511 17.0710678,2.92893219 C13.1658249,-0.976310729 6.83417511,-0.976310729 2.92893219,2.92893219 C-0.976310729,6.83417511 -0.976310729,13.1658249 2.92893219,17.0710678 L2.92893219,17.0710678 Z M15.6568542,15.6568542 C18.7810486,12.5326599 18.7810486,7.46734008 15.6568542,4.34314575 C12.5326599,1.21895142 7.46734008,1.21895142 4.34314575,4.34314575 C1.21895142,7.46734008 1.21895142,12.5326599 4.34314575,15.6568542 C7.46734008,18.7810486 12.5326599,18.7810486 15.6568542,15.6568542 Z M9,11 L9,10.5 L9,9 L11,9 L11,15 L9,15 L9,11 Z M9,5 L11,5 L11,7 L9,7 L9,5 Z"
                      id="Combined-Shape"
                    ></path>
                  </g>
                </g>
              </svg>
              One sample per line
            </div>
            <textarea
              class="bg-gray-200 appearance-none border-2 border-gray-200 rounded py-2 px-4
          text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500
          font-mono w-full"
              id="samples"
              rows="20"
            >
a b</textarea
            >
          </div>
          <div class="w-1/2 ml-2">
            <label for="pattern" class="w-full text-lg">
              Results
            </label>
            <div class="w-full text-sm text-gray-500 pb-4">
              <svg
                class="fill-current text-gray-400 inline-block h-4 w-4"
                viewBox="0 0 20 20"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <g
                  id="Page-1"
                  stroke="none"
                  stroke-width="1"
                  fill="currentColor"
                  fill-rule="evenodd"
                >
                  <g id="icon-shape">
                    <path
                      d="M2.92893219,17.0710678 C6.83417511,20.9763107 13.1658249,20.9763107 17.0710678,17.0710678 C20.9763107,13.1658249 20.9763107,6.83417511 17.0710678,2.92893219 C13.1658249,-0.976310729 6.83417511,-0.976310729 2.92893219,2.92893219 C-0.976310729,6.83417511 -0.976310729,13.1658249 2.92893219,17.0710678 L2.92893219,17.0710678 Z M15.6568542,15.6568542 C18.7810486,12.5326599 18.7810486,7.46734008 15.6568542,4.34314575 C12.5326599,1.21895142 7.46734008,1.21895142 4.34314575,4.34314575 C1.21895142,7.46734008 1.21895142,12.5326599 4.34314575,15.6568542 C7.46734008,18.7810486 12.5326599,18.7810486 15.6568542,15.6568542 Z M9,11 L9,10.5 L9,9 L11,9 L11,15 L9,15 L9,11 Z M9,5 L11,5 L11,7 L9,7 L9,5 Z"
                      id="Combined-Shape"
                    ></path>
                  </g>
                </g>
              </svg>
              One result per line
            </div>
            <textarea
              class="bg-gray-200 appearance-none border-2 border-gray-200 rounded py-2 px-4
        text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500
        font-mono w-full"
              id="samples"
              rows="20"
            >
key1=a
key2=b</textarea
            >
          </div>
        </div>
        <div class="md:flex">
          <div class="w-1/2">
            <button
              class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none
            text-white font-bold py-2 px-4 rounded w-full flex items-center h-12 justify-center"
              type="button"
            >
              <span class="mr-4">SUBMIT</span>
              <svg
                class="text-purple-100 w-4 h-4"
                viewBox="0 0 20 20"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <g
                  id="Page-1"
                  stroke="none"
                  stroke-width="1"
                  fill="currentColor"
                  fill-rule="evenodd"
                >
                  <g id="icon-shape">
                    <path
                      d="M0,0 L20,10 L0,20 L0,0 Z M0,8 L10,10 L0,12 L0,8 Z"
                      id="Combined-Shape"
                    ></path>
                  </g>
                </g>
              </svg>
            </button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
