<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Filebeat Dissect Pattern Tester</title>
    <link href="/static/dist/tailwind.css" rel="stylesheet" />
    <script src="/static/js/main.js"></script>
  </head>
  <body class="flex flex-col min-h-screen p-4 sm:p-0">
    <div class="container mx-auto mt-8">
      <h1 class="text-2xl mb-4 font-medium">
        Test
        <a
          href="https://www.elastic.co/guide/en/beats/filebeat/master/dissect.html"
          class="text-blue-600 visited:text-purple-600"
          >Dissect</a
        >
        Patterns
      </h1>

      <div class="flex">
        <svg class="mr-2 w-24 sm:w-12" viewBox="0 0 512 512">
          <circle cx="256" cy="256" r="246" fill="#ff8c8c" />
          <circle cx="256" cy="256" r="192" fill="#fff" />
          <g fill="#7d9bff">
            <path
              d="M291
          336h-15V236c0-11-9-20-20-20h-28a20 20 0 100 40h8v80h-15a20 20 0 100 40h70a20 20 0 100-40z"
            />
            <circle cx="256" cy="156.1" r="20" />
          </g>
          <path
            d="M256 512A254 254 0 010 256 254 254 0 01256 0a254 254 0
          01256 256 254 254 0 01-256 256zm0-492a236 236 0 101 473 236 236 0 00-1-473z"
          />
          <path
            d="M256 458c-37
          0-74-10-106-30a10 10 0 1110-17 182 182 0 10-60-61 10 10 0 01-17 10 203 203 0 0130-247 202 202 0
          11143 345z"
          />
          <path
            d="M120 402a10 10 0 117-17 10 10 0 01-7 17zM291 386h-70a30 30 0 010-60h5v-60a30
          30 0 012-60h28c17 0 30 14 30 30v90h5a30 30 0 010 60zm-70-40a10 10 0 000 20h70a10 10 0 000-20h-15c-6
          0-10-5-10-10V236c0-5-4-10-10-10h-28a10 10 0 000 20h8c6 0 10 5 10 10v80c0 5-4 10-10 10h-15zM256
          186a30 30 0 110-60 30 30 0 010 60zm0-40a10 10 0 100 20 10 10 0 000-20z"
          />
        </svg>
        <p class="md:w-1/2 sm:w-full">
          This tries to parse a set of logfile lines with a given dissect
          expression and prints the matches for named patterns for each log
          line.
        </p>
      </div>
    </div>

    <div class="container mx-auto mt-8 flex-grow">
      <form class="w-full">
        <div class="md:flex md:items-center mb-6 flex-col">
          <label for="pattern" class="w-full text-lg pb-4">Pattern</label>
          <textarea
            class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4
          text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500 font-mono"
            id="pattern"
            type="text"
            value="Jane Doe"
            placeholder="Pattern to be tested against the log samples"
            rows="5"
          >
%{key1} %{key2}</textarea
          >
        </div>
        <div class="md:flex md:items-center mb-8">
          <div class="md:w-1/2s mr-2 sm:w-full sm:mt-4">
            <label for="pattern" class="w-full text-lg">
              Log Samples
            </label>
            <div class="w-full text-sm text-gray-500 pb-4">
              <svg
                class="fill-current text-gray-400 inline-block h-4 w-4 mr-1"
                viewBox="0 0 20 20"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <g
                  id="Page-1"
                  stroke="none"
                  stroke-width="1"
                  fill="currentColor"
                  fill-rule="evenodd"
                >
                  <g id="icon-shape">
                    <path
                      d="M2.92893219,17.0710678 C6.83417511,20.9763107 13.1658249,20.9763107 17.0710678,17.0710678 C20.9763107,13.1658249 20.9763107,6.83417511 17.0710678,2.92893219 C13.1658249,-0.976310729 6.83417511,-0.976310729 2.92893219,2.92893219 C-0.976310729,6.83417511 -0.976310729,13.1658249 2.92893219,17.0710678 L2.92893219,17.0710678 Z M15.6568542,15.6568542 C18.7810486,12.5326599 18.7810486,7.46734008 15.6568542,4.34314575 C12.5326599,1.21895142 7.46734008,1.21895142 4.34314575,4.34314575 C1.21895142,7.46734008 1.21895142,12.5326599 4.34314575,15.6568542 C7.46734008,18.7810486 12.5326599,18.7810486 15.6568542,15.6568542 Z M9,11 L9,10.5 L9,9 L11,9 L11,15 L9,15 L9,11 Z M9,5 L11,5 L11,7 L9,7 L9,5 Z"
                      id="Combined-Shape"
                    ></path>
                  </g>
                </g>
              </svg>
              One sample per line
            </div>
            <textarea
              class="bg-gray-200 appearance-none border-2 border-gray-200 rounded py-2 px-4
          text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500
          font-mono w-full"
              id="samples"
              rows="20"
            >
a b</textarea
            >
          </div>
          <div class="md:w-1/2s ml-2 sm:w-full sm:mt-4">
            <label for="results" class="w-full text-lg">
              Results
            </label>
            <div class="w-full text-sm text-gray-500 pb-4">
              <svg
                class="fill-current text-gray-400 inline-block h-4 w-4 mr-1"
                viewBox="0 0 20 20"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <g
                  id="Page-1"
                  stroke="none"
                  stroke-width="1"
                  fill="currentColor"
                  fill-rule="evenodd"
                >
                  <g id="icon-shape">
                    <path
                      d="M2.92893219,17.0710678 C6.83417511,20.9763107 13.1658249,20.9763107 17.0710678,17.0710678 C20.9763107,13.1658249 20.9763107,6.83417511 17.0710678,2.92893219 C13.1658249,-0.976310729 6.83417511,-0.976310729 2.92893219,2.92893219 C-0.976310729,6.83417511 -0.976310729,13.1658249 2.92893219,17.0710678 L2.92893219,17.0710678 Z M15.6568542,15.6568542 C18.7810486,12.5326599 18.7810486,7.46734008 15.6568542,4.34314575 C12.5326599,1.21895142 7.46734008,1.21895142 4.34314575,4.34314575 C1.21895142,7.46734008 1.21895142,12.5326599 4.34314575,15.6568542 C7.46734008,18.7810486 12.5326599,18.7810486 15.6568542,15.6568542 Z M9,11 L9,10.5 L9,9 L11,9 L11,15 L9,15 L9,11 Z M9,5 L11,5 L11,7 L9,7 L9,5 Z"
                      id="Combined-Shape"
                    ></path>
                  </g>
                </g>
              </svg>
              One result per block
            </div>
            <textarea
              class="bg-gray-200 appearance-none border-2 border-gray-200 rounded py-2 px-4
        text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500
        font-mono w-full"
              id="results"
              rows="20"
              placeholder="Output of the dissect tokenizer"
              readonly
            ></textarea>
          </div>
        </div>
        <div class="md:flex">
          <div class="w-1/2">
            <button
              class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none
            text-white font-bold py-2 px-4 rounded w-full flex items-center h-12 justify-center"
              type="button"
              onclick="testSamples()"
            >
              <span class="mr-4">SUBMIT</span>
              <svg
                class="text-purple-100 w-4 h-4"
                viewBox="0 0 20 20"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <g
                  id="Page-1"
                  stroke="none"
                  stroke-width="1"
                  fill="currentColor"
                  fill-rule="evenodd"
                >
                  <g id="icon-shape">
                    <path
                      d="M0,0 L20,10 L0,20 L0,0 Z M0,8 L10,10 L0,12 L0,8 Z"
                      id="Combined-Shape"
                    ></path>
                  </g>
                </g>
              </svg>
            </button>
          </div>
        </div>
      </form>
    </div>
    <footer class="bg-gray-100 p-8 text-center text-gray-600 mt-8">
      Built with 💖 by
      <span class="text-purple-600">Website performance</span>
    </footer>
  </body>
</html>
